<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gugalor.citylist">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name"
                 android:theme="@android:style/Theme.Light.NoTitleBar"
                 tools:replace="android:icon, android:theme">
        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="pzkOwiaLl0qlGMnbwy14GQlh" />
        <activity android:name=".home">
        </activity>
        <activity android:name=".CityList"></activity>
        <activity android:name=".searchactivity"></activity>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
    </application>

</manifest>
